
[Settings]
# if no ip is set then fakedns tries to use the IP address of the current machine
#DefaultIPv4 =
#DefaultIPv6 =

# on which IP should the server listen
#ListenOnIP =

# The default port is 53
#ListenOnPort = 53

#DnsProxyIP = 8.8.8.8
#DnsProxyPort = 53

[Output]
# defines the output of fakedns available placeholders are:
# - %DATETIME%
# - %RR_TYPE%    (from the query)
# - %RR_CLASS%   (from the query)
# - %DOMAINNAME% (from the query)
# - %RESPONSE%
# - %TTL%  (from the response)
format = %DATETIME% - %RR_TYPE% - %DOMAINNAME% => %RESPONSE%

# - %TTL%
# - %RR_VALUE%
response_format = %RR_VALUE%


##################################################################
# List of patterns which define how fake dns process the incoming queries
# the value of the priority attribute define in which order the patterns are applied
# the lower the value of the priority the earlier the pattern will be applied

# This is the catch-all domain pattern
[DomainPattern]
priority = 9999
name_pattern = *
log_request = yes
# ttl is 10 minutes - default is 1h
ttl = 600
answer_A = DefaultIPv4
answer_AAAA = DefaultIPv6
answer_PTR = fakedns.com
answer_TXT = ["FAKE_DNS_TXT"]


# In the following patterns all values of "log_request" are set to "no",
# so if fakedns receives a query for this domain name they are not logged
# Also the query will not be answered since the attribute "answer_*" attributes are missing
[DomainPattern]
priority = 0
name_pattern = www.msftconnecttest.com
log_request = no

[DomainPattern]
priority = 0
name_pattern = *.windowsupdate.com
log_request = no

[DomainPattern]
priority = 0
name_pattern = *.microsoft.com
log_request = no

[DomainPattern]
priority = 0
name_pattern = arc.msn.com
log_request = no

[DomainPattern]
priority = 0
name_pattern = *.adobe.com
log_request = no

[DomainPattern]
priority = 0
name_pattern = time.windows.com
log_request = no

[DomainPattern]
priority = 0
name_pattern = update.googleapis.com
log_request = no
